*.log
.idea/
config.php
/opencart/storage/cache/
/opencart/public_html/system/storage/modification/
/opencart/storage/modification/
/opencart/public_html/system/storage/cache/
/opencart/public_html/image/cache/
/opencart/storage/upload/
/opencart/storage/logs/
